@mixin text_shadow($color, $v_shadow: 0)
  -moz-text-shadow: 0 $v_shadow 1px $color
  -webkit-text-shadow: 0 $v_shadow 1px $color
  text-shadow: 0 $v_shadow 1px $color

@mixin box_shadow($color, $offset: 2px, $v_shadow: 0)
  -moz-box-shadow: 0 $v_shadow $offset $color
  -webkit-box-shadow: 0 $v_shadow $offset $color
  box-shadow: 0 $v_shadow $offset $color

body
  margin: 0
  background: #EEE
  div#bottom
    background-color: #BED4EB
    margin: 0
    width: 100%
    height: 60px
  div#header
    width: 100%
    margin-top: 40px
    margin-bottom: 10px
    padding: 10px
    background-color: #BED4EB
    h1
      margin: 0
      font-size: 36px
      @include text_shadow(#FFF, 1px)
      span#header_type
        color: #888888
    div#header_doc
      margin-top: 5px
      line-height: 23px
      background-color: aliceblue
  div.interval
    width: 0
    height: 31px
    border-left: 1px solid #222
  div#wrapper
    min-height: 700px
    margin-left: 5px
    margin-bottom: 100px
    color: #333
    font-family: sans-serif
  .node_info
    font-size: 19px
  .node_fullname, .fold_flag
    font-family: monospace
    color: #992233
    @include text_shadow(#998833)
  .fold_flag
    cursor: pointer
    color: #f87b55
  .node_type
    color: #BB8899
    @include text_shadow(#DDD)
  div.node_doc
    font-size: 18px
    display: inline-block
    margin-top: 5px
    padding: 10px
    padding-right: 50px
    border: 1px solid #BBB

  .fake_btn
    cursor: pointer
    width: 33px
    height: 32px
    position: fixed
    right: 25px
    color: #999
    font-size: 2em
    background-color: #BBB
    opacity: 0.5
    a
      text-decoration: none
      color: inherit
  .fake_btn:hover
    opacity: 0.7
  .fake_btn:active
    @include box-shadow(#333)
  div#to_btm
    bottom: 5px
  div#to_top
    bottom: 40px
  .doc_toggle
    font-size: smaller
    @include box_shadow(#999, 1px)
  .button:hover
    background-color: #f87b00
  .button:active
    background-color: #BC2A4D
  .button
    background-color: #aab5c3
    display: inline
    maring: 0 5px 5px 0
    padding: 0 10px
    border-radius: 10px
    color: #ffffff
    text-decoration: none
    cursor: pointer



