<div class="tree_node">
    <div class="interval"> </div>
    <div class="node_info">
        <div>
            <span class="fold_flag">-</span>&nbsp;&nbsp;&nbsp;<span class="node_fullname"></span>
        </div>
        <div>
            <span class="node_type"></span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span onclick="javascript:toggleDoc(this);" class="doc_toggle button">doc &gt;&gt;</span>
        </div>
    </div>
    <div class="node_doc">
    </div>
</div>
